body {
  color: green;
  font-family: system-ui, sans-serif;
  font-weight: 500;
  font-size: medium;
  text-decoration: solid;
  font-style: italic;
  background-color: blue;
  border-style: dashed;
  text-overflow: ellipsis;
  animation-delay: unset;
}
